// Fonts
$rem-base: 16px;

$font-size-base: 16px;
$line-height-base: 1.2;

// Colors
$black: #000;
$white: #fff;
$primary: var(--primary, #245edf);
$secondary: var(--secondary, #8bc6ec);
$warning: var(--warning, #faad19);
$success: var(--success, #28a745);
$danger: var(--danger, #ff3000);
$info: var(--info, #245edf);