body {
    @apply bg-base text-sm leading-tight;
}

h2 {
    font-size: rem-calc(32px);
}

#wrapper {
    @apply bg-white overflow-hidden relative;
}

.logo {
    @apply text-2xl font-bold;

    img {
        @apply w-full h-auto;
    }
}

.under_construction {
    @apply bg-white w-screen h-screen text-center flex justify-center items-center text-xl;

    h1 {
        @apply text-4xl mb-4;
    }

    .logo {
        @apply w-[120] mx-auto mb-4;
    }
}

.swiper {
    &-wrapper {
        width: 100%;
        display: flex;
    }

    &-slide {
        flex-shrink: 0;
    }
}